/* WRITE YOUR CSS CODE HERE */
#wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#entry{
    position: relative;
    margin: 172px auto;
    width: 444px;
    height: 336px;
    background-color: white;
    padding: 0 24px 0 24px;
}
